$colorPrimary: lightseagreen;
$colorSecondary: slateblue;

:root {
  --colorPrimary: lightseagreen;
  --colorSecondary: slateblue;

  --violeta: #404bd9;
  --celeste: #5ac8fa;
  --black: #1c1c1e;
  --gris: #4f4f4f;
  --amarillo: #fcad18;
  --amarillo-hover: #ffb600;

  --zTop: 100;
}