@import 'config';

// BASE AND CONFIG
@import 'base';

// APP COMPONENTS
@import 'components/site-header';
@import 'components/site-footer';
@import 'components/navbar';

// COMPONENTS
@import 'components/btn';
@import 'components/hero-form';
@import 'components/hero';
@import 'components/card';
@import 'components/page-section';
@import 'components/membership';
@import 'components/list-membership';
@import 'components/material-input';
@import 'components/checkbox';
@import 'components/card-icon';

// LAYOUT
@import 'layout/grid';
@import 'layout/l-hero-form';
@import 'layout/l-grid-courses';
@import 'layout/l-courses-layout';

// UTILITIES
@import 'utilities';

.main {
  padding: 5rem 0;
}

.prices {
  margin-bottom: 20px;
}

.owl-theme {
  position: relative;
  .owl-nav {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    button {
      padding: 0;
      color: rgba(102,102,102,.5);
      transition: color .1s ease-in-out;
      width: 40px;
      height: 40px;
      background-color: #f2f2f2;
      box-shadow: 0 0 10px #979797;
      border-radius: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}