:root {
  --colorPrimary: #bf0e09;
  --colorSecondary: #BABF1D;
  --violeta: #404bd9;
  --celeste: #5ac8fa;
  --black: #1c1c1e;
  --gris: #4f4f4f;
  --amarillo: #fcad18;
  --amarillo-hover: #ffb600;
  --zTop: 100;
  --zFront: 50;
  --zBack: -1;
}

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  color: var(--gris);
}

p {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: inherit;
}

img {
  max-width: 100%;
}

strong {
  color: var(--black);
}

.site-header {
  background-color: var(--colorPrimary, lightseagreen);
  color: white;
  padding: 1rem;
}
@media (min-width: 992px) {
  .site-header {
    padding: 0;
  }
  .site-header .navbar {
    display: block;
  }
}
.site-header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.site-header__actions .btn {
  display: none;
}
@media (min-width: 992px) {
  .site-header__actions .btn {
    display: inline-block;
  }
}
.site-header__actions a:not(:last-child) {
  margin-right: 20px;
}
.site-header .login-icon {
  margin-right: 0 !important;
}
@media (min-width: 992px) {
  .site-header .login-icon {
    display: none !important;
  }
}
.site-header .shopping-cart, .site-header .login-icon {
  color: inherit;
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
@media (min-width: 992px) {
  .site-header .shopping-cart, .site-header .login-icon {
    font-size: 1.5rem;
  }
}
.site-header .shopping-cart__badge {
  color: #000;
  font-size: 13px;
  top: -10px;
  right: -10px;
  background-color: var(--colorSecondary);
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  overflow: hidden;
  font-weight: bold;
}
.site-header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.site-header .brand {
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}

.navbar__link {
  font-size: 1rem;
  display: inline-block;
  padding: 22px 0;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
.navbar__link:hover {
  color: var(--colorSecondary);
}
.navbar__link:not(:last-child) {
  margin-right: 30px;
}
.navbar__toggler {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  border-radius: 0;
  background-color: transparent;
  border: none;
  margin-right: 15px;
}
@media (min-width: 992px) {
  .navbar__toggler {
    display: none;
  }
}
.navbar__mobile-header {
  display: none;
}
@media (max-width: 992px) {
  .navbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--colorPrimary);
    z-index: var(--zTop);
    transform: translateX(-100%);
    transition: ease-in transform 0.2s;
  }
  .navbar.show {
    transform: translateX(0);
  }
  .navbar .navbar__link {
    display: block;
    border-bottom: 1px solid #fff;
    margin: 0 25px;
  }
  .navbar__mobile-close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0;
    background-color: transparent;
    border: none;
    margin-left: auto !important;
  }
  .navbar__mobile-header {
    display: flex !important;
    border: none !important;
    padding-bottom: 0;
  }
  .navbar__mobile-header .fa {
    display: block;
    font-size: 1.5rem;
  }
}

.btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 100px;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}
.btn--full {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--rounded {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 0;
}
.btn--outline {
  background-color: transparent;
}
.btn--outline-white {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}
.btn--outline-white:hover {
  border-color: #fff;
}
.btn--outline-primary {
  color: var(--colorPrimary);
  border-color: var(--colorPrimary);
}
.btn--outline-primary:hover {
  background-color: var(--colorPrimary);
  color: #fff;
}
.btn--secondary {
  color: #000;
  border-color: var(--colorSecondary);
  background-color: var(--colorSecondary);
}
.btn--whatsapp {
  background-color: #34C759;
  position: fixed;
  z-index: var(--zFront);
  bottom: 1rem;
  border-color: #34C759;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}
.btn--whatsapp i {
  margin-left: 10px;
  font-size: 1.5rem;
}

.hero-form {
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 0.35rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);
}
@media (min-width: 992px) {
  .hero-form {
    margin-top: 0;
  }
}
.hero-form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 18px;
  font-weight: bold;
  color: var(--black);
}
.hero-form__body {
  padding: 25px 20px 35px;
}

.hero {
  padding: 2rem 0;
  background-size: cover;
}

.card {
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #e0e0e0;
}
.card__title {
  font-size: 18px;
  margin-bottom: 1rem;
  color: var(--colorPrimary);
}
.card p {
  font-size: inherit !important;
  margin-bottom: 0.75rem;
}
.card__body {
  padding: 15px;
}
.card__buttons {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.card__buttons .btn:not(:last-child) {
  margin-right: 15px;
}
.card__img {
  display: block;
}
.card__img img {
  width: 100%;
}

.page-section__title {
  font-size: 45px;
  color: var(--sectionColor, var(--colorPrimary));
}
.page-section__description {
  font-size: 18px;
  font-weight: 500;
}
.page-section__header {
  margin-bottom: 2rem;
}

.subsection {
  margin-bottom: 3rem;
}

.subsection-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.subsection-header h3 {
  color: #000;
  font-size: 35px;
  margin-right: 18px;
}
.subsection-header a {
  color: var(--colorPrimary);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid var(--colorPrimary);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
.l-hero-form {
  background-position: top center;
  position: relative;
  min-height: 80vh;
  padding: 0;
}
@media (min-width: 992px) {
  .l-hero-form {
    padding: 2rem 0;
  }
}
.l-hero-form .img-bg {
  width: 100%;
}
@media (min-width: 992px) {
  .l-hero-form .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: var(--zBack);
    object-fit: cover;
    object-position: top left;
  }
}
.l-hero-form .grid {
  display: flex;
  width: 100%;
}
.l-hero-form .grid .col-md-4 {
  margin-left: auto;
}

.l-grid-courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.t-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.main {
  padding: 5rem 0;
}

.prices {
  margin-bottom: 20px;
}

/*# sourceMappingURL=app.css.map */
