:root {
  --colorPrimary: #bf0e09;
  --colorSecondary: #BABF1D;
  --violeta: #404bd9;
  --celeste: #5ac8fa;
  --black: #1c1c1e;
  --gris: #4f4f4f;
  --amarillo: #fcad18;
  --amarillo-hover: #ffb600;
  --zTop: 100;
  --zFront: 50;
  --zBack: -1;
}

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  color: var(--gris);
}

p {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: inherit;
}

img {
  max-width: 100%;
}

strong {
  color: var(--black);
}

a {
  color: var(--colorPrimary);
}

.site-header {
  background-color: var(--colorPrimary, lightseagreen);
  color: white;
  padding: 1rem;
}
@media (min-width: 992px) {
  .site-header {
    padding: 0;
  }
  .site-header .navbar {
    display: block;
  }
}
.site-header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.site-header__actions .btn {
  display: none;
}
@media (min-width: 992px) {
  .site-header__actions .btn {
    display: inline-block;
  }
}
.site-header__actions a:not(:last-child) {
  margin-right: 20px;
}
.site-header .login-icon {
  margin-right: 0 !important;
}
@media (min-width: 992px) {
  .site-header .login-icon {
    display: none !important;
  }
}
.site-header .shopping-cart, .site-header .login-icon {
  color: inherit;
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
@media (min-width: 992px) {
  .site-header .shopping-cart, .site-header .login-icon {
    font-size: 1.5rem;
  }
}
.site-header .shopping-cart__badge {
  color: #000;
  font-size: 13px;
  top: -10px;
  right: -10px;
  background-color: var(--colorSecondary);
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  overflow: hidden;
  font-weight: bold;
}
.site-header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.site-header .brand {
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}

.site-footer {
  padding: 35px 0;
  background-color: #1c1c1e;
  color: #fff;
}
@media (min-width: 992px) {
  .site-footer__bottom {
    display: flex;
    justify-content: space-between;
  }
}
.site-footer__top {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer__top .img-b {
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  display: block;
}
.site-footer__nav a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
}
.site-footer__nav a:not(:first-child) {
  margin-top: 25px;
}
@media (min-width: 992px) {
  .site-footer__nav a {
    display: inline-block;
  }
  .site-footer__nav a:not(:first-child) {
    margin-top: 0;
    margin-left: 25px;
  }
}
.site-footer .follow {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .site-footer .follow {
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
  }
}
.site-footer .follow p {
  color: #828282;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
  margin-right: 25px;
}
.site-footer .follow a {
  color: #fff;
}
.site-footer .follow i {
  font-size: 26px;
}
.site-footer .partof p {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .site-footer .partof {
    display: flex;
    align-items: center;
  }
  .site-footer .partof p {
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 15px;
  }
}

.navbar__link {
  font-size: 1rem;
  display: inline-block;
  padding: 22px 0;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
.navbar__link:hover {
  color: var(--colorSecondary);
}
.navbar__link:not(:last-child) {
  margin-right: 30px;
}
.navbar__toggler {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  border-radius: 0;
  background-color: transparent;
  border: none;
  margin-right: 15px;
}
@media (min-width: 992px) {
  .navbar__toggler {
    display: none;
  }
}
.navbar__mobile-header {
  display: none;
}
@media (max-width: 992px) {
  .navbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--colorPrimary);
    z-index: var(--zTop);
    transform: translateX(-100%);
    transition: ease-in transform 0.2s;
  }
  .navbar.show {
    transform: translateX(0);
  }
  .navbar .navbar__link {
    display: block;
    border-bottom: 1px solid #fff;
    margin: 0 25px;
  }
  .navbar__mobile-close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0;
    background-color: transparent;
    border: none;
    margin-left: auto !important;
  }
  .navbar__mobile-header {
    display: flex !important;
    border: none !important;
    padding-bottom: 0;
  }
  .navbar__mobile-header .fa {
    display: block;
    font-size: 1.5rem;
  }
}

.btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 100px;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}
.btn--full {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--rounded {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 0;
}
.btn--outline {
  background-color: transparent;
}
.btn--outline-white {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}
.btn--outline-white:hover {
  border-color: #fff;
}
.btn--outline-primary {
  color: var(--colorPrimary);
  border-color: var(--colorPrimary);
}
.btn--outline-primary:hover {
  background-color: var(--colorPrimary);
  color: #fff;
}
.btn--outline-secondary {
  color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}
.btn--outline-secondary:hover {
  background-color: var(--colorSecondary);
  color: #fff;
}
.btn--secondary {
  color: #000;
  border-color: var(--colorSecondary);
  background-color: var(--colorSecondary);
}
.btn--whatsapp {
  background-color: #34C759;
  border-color: #34C759;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
}
.btn--whatsapp i {
  margin-left: 10px;
  font-size: 1.5rem;
}
@media (max-width: 992px) {
  .btn--whatsapp {
    width: 45px;
    padding: 0;
  }
  .btn--whatsapp span {
    display: none;
  }
  .btn--whatsapp i {
    margin: 0;
  }
}

.fixed-actions {
  left: 0;
  width: 100%;
  position: fixed;
  z-index: var(--zFront);
  position: fixed;
  bottom: 1rem;
}
.fixed-actions .container {
  display: flex;
  align-items: center;
}
.fixed-actions .btn {
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.fixed-actions .btn--info {
  flex-grow: 1;
  margin-right: 15px;
}
@media (min-width: 992px) {
  .fixed-actions .btn--info {
    display: none;
  }
}

.hero-form {
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 0.35rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);
}
@media (min-width: 992px) {
  .hero-form {
    margin-top: 0;
  }
}
.hero-form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 18px;
  font-weight: bold;
  color: var(--black);
}
.hero-form__body {
  padding: 25px 20px 35px;
}
.hero-form .material-input {
  margin-bottom: 1rem;
}
.hero-form .btn {
  padding: 0.7em 4em;
}

.hero {
  padding: 2rem 0;
  background-size: cover;
}

.card {
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #e0e0e0;
}
.card__title {
  font-size: 18px;
  margin-bottom: 1rem;
  color: var(--colorPrimary);
}
.card p {
  font-size: inherit !important;
  margin-bottom: 0.75rem;
}
.card__body {
  padding: 15px;
}
.card__buttons {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.card__buttons .btn:not(:last-child) {
  margin-right: 15px;
}
.card__img {
  display: block;
}
.card__img img {
  width: 100%;
  display: block;
}
.card--program .card__img {
  position: relative;
}
.card--program .card__img::after {
  content: "";
  background-image: linear-gradient(180deg, rgba(28, 28, 30, 0) 0, #1c1c1e 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card--program .card__img-title {
  z-index: 5;
  width: calc(100% - 30px);
  bottom: 15px;
  left: 15px;
  color: #fff;
  position: absolute;
}
.card__text {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 500;
}
.card__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: var(--colorPrimary);
  border-bottom: 1px solid var(--colorPrimary);
}

.price span:first-child {
  font-size: 13px;
  text-decoration: line-through;
}
.price span:last-child {
  font-size: 18px;
  color: #34C759;
  font-weight: 700;
  margin-left: 10px;
}

.page-section__title {
  font-size: 32px;
  color: var(--sectionColor, var(--colorPrimary));
}
@media (min-width: 992px) {
  .page-section__title {
    font-size: 45px;
  }
}
.page-section__description {
  font-size: 18px;
  font-weight: 500;
}
.page-section__header {
  margin-bottom: 2rem;
}

.subsection {
  margin-bottom: 3rem;
}

.subsection-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .subsection-header {
    justify-content: space-between;
  }
}
.subsection-header h3 {
  color: #000;
  font-size: 24px;
  margin-right: 18px;
}
@media (max-width: 992) {
  .subsection-header h3 {
    font-size: 30px;
  }
}
@media (max-width: 1200) {
  .subsection-header h3 {
    font-size: 35px;
  }
}
.subsection-header a {
  color: var(--colorPrimary);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid var(--colorPrimary);
}

.membership {
  color: #fff;
  background-color: var(--gris);
  padding: 15px;
  margin-bottom: 2rem;
}
.membership img {
  width: 100%;
}
@media (min-width: 992px) {
  .membership {
    display: flex;
  }
  .membership img {
    width: auto;
  }
}
.membership__title {
  font-size: 30px;
  margin-bottom: 30px;
  color: var(--colorSecondary);
}
@media (min-width: 992px) {
  .membership__title {
    font-size: 38px;
  }
}
.membership__block {
  padding: 20px;
  padding-right: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.membership__foot {
  margin-top: auto;
}
.membership__foot .price {
  margin: 1rem 0;
}
@media (max-width: 992px) {
  .membership__foot .btn {
    text-align: center;
    width: max(150px, 60%);
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .membership__foot {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .membership__foot .price {
    margin: 0 1rem;
  }
}
.membership .price span:last-child {
  color: var(--colorSecondary);
}

.list-membership {
  list-style: none;
}
@media (min-width: 992px) {
  .list-membership {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.list-membership__item {
  margin-bottom: 20px;
}
.list-membership__item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f005";
  margin-right: 10px;
  color: var(--colorSecondary);
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

.material-input {
  font-size: 14px;
  position: relative;
}
.material-input input {
  width: 100%;
  border: none;
  border: 1px solid var(--colorSecondary);
  padding: 0.7em 1em;
  font-size: 1em;
  padding-top: 1.5em;
  border-radius: 0.25rem;
}
.material-input label {
  font-weight: 500;
  text-align: left;
  pointer-events: none;
  color: #bbb;
  position: absolute;
  top: 50%;
  left: 1em;
  width: 100%;
  transform: translateY(-50%);
  transition-property: font-size, top, left, color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.material-input input:focus + label,
.material-input input.non-empty + label {
  font-size: 0.7em;
  top: 1.2em;
  left: 1.5em;
  color: var(--colorSecondary);
}
.material-input input.non-empty:valid + label {
  color: seagreen;
}
.material-input input.non-empty:invalid + label {
  color: var(--colorPrimary);
}
.material-input input.non-empty:valid {
  border-color: lightgreen;
}
.material-input input.non-empty:invalid {
  border-color: var(--colorPrimary);
}

.form-control {
  font-size: 16px;
  padding: 0.9em 1em;
  width: 100%;
  border: 1px solid var(--colorSecondary);
  border-radius: 0.25rem;
}
.form-control:focus {
  outline: none;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: var(--colorSecondary);
  color: white;
}
select.form-control option {
  background-color: #fff;
  color: var(--gris);
}

.select {
  position: relative;
  margin-bottom: 1rem;
}
.select i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: #fff;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.checkbox input[type=checkbox] {
  border-radius: 0;
}
.checkbox span {
  margin-left: 10px;
  line-height: 1;
  font-size: 13px;
}

.card-icon {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 40px 30px 35px;
  color: var(--colorPrimary);
  min-height: 100%;
  font-weight: 500;
}
.card-icon h3 {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 25px 0 15px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
.l-hero-form {
  background-position: top center;
  position: relative;
  min-height: 80vh;
  padding: 0;
}
@media (min-width: 992px) {
  .l-hero-form {
    padding: 2rem 0;
  }
}
.l-hero-form .img-bg {
  width: 100%;
}
@media (min-width: 992px) {
  .l-hero-form .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: var(--zBack);
    object-fit: cover;
    object-position: top left;
  }
}
.l-hero-form .grid {
  display: flex;
  width: 100%;
}
.l-hero-form .grid .col-md-4 {
  margin-left: auto;
}

@media (max-width: 1200px) {
  .slider-courses {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .l-grid-courses {
    display: flex;
    width: 400%;
  }
  .l-grid-courses > * {
    width: calc(8.3333333333% - 30px);
    scroll-snap-align: start;
  }
  .l-grid-courses > *:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 992px) {
  .l-grid-courses > * {
    width: calc(12.5% - 70px);
  }
}
@media (max-width: 768px) {
  .l-grid-courses > * {
    width: calc(25% - 70px);
  }
}
@media (min-width: 1200px) {
  .l-grid-courses {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
@media (min-width: 992px) {
  .container {
    width: 85%;
  }
}

.t-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.main {
  padding: 5rem 0;
}

.prices {
  margin-bottom: 20px;
}

.owl-theme {
  position: relative;
}
.owl-theme .owl-nav {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.owl-theme .owl-nav button {
  padding: 0;
  color: rgba(102, 102, 102, 0.5);
  transition: color 0.1s ease-in-out;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px #979797;
  border-radius: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=app.css.map */
