.slider-courses {
  @media (max-width: 1200px) {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
  }
}

.l-grid-courses {
  @media (max-width: 1200px) {
    display: flex;
    width: 400%;
    & > * {
      width: calc((25% / 3) - 30px);
      scroll-snap-align: start;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  @media (max-width: 992px) {
    & > * {
      width: calc((25% / 2) - 70px);
    }
  }
  @media (max-width: 768px) {
    & > * {
      width: calc(25% - 70px);
    }
  }
  @media (min-width: 1200px) {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}