.btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 100px;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;

  &--full {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--rounded {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
  }

  &--outline {
    background-color: transparent;
    &-white {
      color: #fff;
      border-color: rgba(#fff, .5);
      &:hover {
        border-color: #fff;
      }
    }
    &-primary {
      color: var(--colorPrimary);
      border-color: var(--colorPrimary);
      &:hover {
        background-color: var(--colorPrimary);
        color: #fff;
      }
    }
    &-secondary {
      color: var(--colorSecondary);
      border-color: var(--colorSecondary);
      &:hover {
        background-color: var(--colorSecondary);
        color: #fff;
      }
    }
  }

  &--secondary {
    color: #000;
    border-color: var(--colorSecondary);
    background-color: var(--colorSecondary);
  }

  &--primary {
    color: #fff;
    border-color: var(--colorPrimary);
    background-color: var(--colorPrimary);
  }

  &--white {
    color: var(--colorPrimary);
    border-color: #fff;
    background-color: #fff;
  }


  &--whatsapp {
    background-color: #34C759;
    border-color: #34C759;
    color: #fff;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, .25);
    padding: 5px 20px;
    i {
      margin-left: 10px;
      font-size: 1.5rem;
    }
    @media (max-width: 992px) {
      width: 45px;
      padding: 0;
      span {
        display: none;
      }
      i {
        margin: 0;
      }
    }
  }
}

.fixed-actions {
  left: 0;
  width: 100%;
  position: fixed;
  z-index: var(--zFront);
  position: fixed;
  bottom: 1rem;
  .container {
    display: flex;
    align-items: center;
  }
  .btn {
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &--info {
      flex-grow: 1;
      margin-right: 15px;
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}