.card {
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #e0e0e0;

  &__title {
    font-size: 18px;
    margin-bottom: 1rem;
    color: var(--colorPrimary);
  }

  p {
    font-size: inherit !important;
    margin-bottom: .75rem;
  }

  &__body {
    padding: 15px;
  }

  &__buttons {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    .btn:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__img {
    display: block;
    img {
      width: 100%;
    }
  }
}