.membership {
  color: #fff;
  background-color: var(--gris);
  padding: 15px;
  margin-bottom: 2rem;
  img {
    width: 100%;
  }
  @media (min-width: 992px) {
    display: flex;
    img {
      width: auto;
    }
  }
  &__title {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--colorSecondary);
    @media (min-width: 992px) {
      font-size: 38px;
    }
  }
  &__block {
    padding: 20px;
    padding-right: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__foot {
    margin-top: auto;
    .price {
      margin: 1rem 0;
    }
    @media (max-width: 992px) {
      .btn {
        text-align: center;
        width: max(150px, 60%);
        padding-top: .7em;
        padding-bottom: .7em;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media (min-width: 992px) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      .price {
        margin: 0 1rem;
      }
    }
  }

  .price {
    span:last-child {
      color: var(--colorSecondary);
    }
  }
}