.membership {
  color: #fff;
  background-color: var(--gris);
  padding: 15px;
  margin-bottom: 2rem;
  img {
    width: 100%;
  }
  @media (min-width: 992px) {
    display: flex;
    img {
      width: auto;
    }
  }
  &__title {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--colorSecondary);
    @media (min-width: 992px) {
      font-size: 38px;
    }
  }
  &__block {
    padding: 20px;
    padding-right: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__foot {
    margin-top: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .price {
      margin: 0 1rem;
    }
  }
}