.page-section {

  &__title {
    font-size: 32px;
    @media (min-width: 992px) {
      font-size: 45px;
    }
    color: var(--sectionColor, var(--colorPrimary));
  }
  &__description {
    font-size: 18px;
    font-weight: 500;
  }
  &__header {
    margin-bottom: 2rem;
  }
}

.subsection {
  margin-bottom: 3rem;
}

.subsection-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  @media (max-width: 992px) {
    justify-content: space-between;
  }
  h3 {
    color: #000;
    font-size: 24px;
    margin-right: 18px;
    @media (max-width: 992) {
      font-size: 30px;
    }
    @media (max-width: 1200) {
      font-size: 35px;
    }
  }

  a {
    color: var(--colorPrimary);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid var(--colorPrimary);
  }
}