.site-header {
  background-color: var(--colorPrimary, lightseagreen);
  color: white;
  padding: 1rem;

  @media (min-width: 992px) {
    padding: 0;
    .navbar {
      display: block;
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;

    .btn {
      display: none;
      @media (min-width: 992px) {
        display: inline-block;
      }
    }
    
    a:not(:last-child) {
      margin-right: 20px;
    }
  }

  .login-icon {
    @extend .shopping-cart;
    margin-right: 0 !important;
    @media (min-width: 992px) {
      display: none !important;
    }
  }

  .shopping-cart {
    color: inherit;
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
    @media (min-width: 992px) {
      font-size: 1.5rem;
    }
    &__badge {
      color: #000;
      font-size: 13px;
      top: -10px;
      right: -10px;
      background-color: var(--colorSecondary);
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      text-align: center;
      line-height: 18px;
      overflow: hidden;
      font-weight: bold;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .brand {
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
  }
}